img {
    height: 300;
    width:300 ;
}

.main_div {
    background: linear-gradient(orange,yellow,green);
}

#start {
    font-weight: bold;
    border: 1px solid grey;
    height: 40px;
    width: 80;
    font-size: larger;
    
}

h1 {
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

h4 {
    font-weight: 700;
    text-decoration: underline;
}